<div class="view-wrapper">
  <div class="toolbar" role="banner">
    <span class="title">
      {{ title }}
    </span>
    <button mat-stroked-button (click)="restartGame()">
      RESET
    </button>
    <span class="infos">
      Tour : {{currentPlayer()}}
    </span>
  </div>
  <div class="content" role="main">
    <div class="grid-layout" [style.background-image]="'url(assets/img/board.png)'">
      <div class="column" *ngFor="let col of columns; index as colIndex">
        <div class="row" *ngFor="let row of rows; index as rowIndex">
          <div class="cell" (click)="setToken(colIndex)" [ngClass]="{
            'player-yellow': board[colIndex][5 - rowIndex] == playerYellow,
            'player-red': board[colIndex][5 - rowIndex] == playerRed
          }">
        </div>
      </div>
    </div>
  </div>
</div>