<div class="view-wrapper">
  <div class="toolbar" role="banner">
    <span class="title">
      {{ title }}
    </span>
    <div class="current-player" [ngClass]="getCurrentPlayerClass()">
      <img class="icon-player" src="assets/svg/hand.svg">
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="switchLanguage()">
        {{ 'targetLanguages.' + targetLanguage | translate }}
      </button>
      <button mat-stroked-button (click)="restartGame()">
        {{ 'buttons.reset' | translate }}
      </button>
    </div>
  </div>
  <div class="content" role="main">
    <div class="grid-layout" [style.background-image]="'url(assets/img/board.png)'">
      <div class="column" *ngFor="let col of columns; index as colIndex">
        <div class="row" *ngFor="let row of rows; index as rowIndex">
          <div class="cell" (click)="setToken(colIndex)" [ngClass]="getTokenClass(colIndex, rowIndex)">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="won" class="splash-container">
  <div class="splash">
    <div class="message">
      {{ 'texts.playerWon' | translate: { 'player': winningPlayerLocalizedColor } }}
    </div>
    <div class="svg">
      <svg>
        <rect [ngClass]="getWinningPlayerColor()" />
      </svg>
    </div>
  </div>
  <div class="game-end">
    <p>
      {{ 'texts.playAgain' | translate }}
    </p>
    <button mat-stroked-button (click)="restartGame()">
      {{ 'buttons.go' | translate }}
    </button>
  </div>
</div>